@import _mixins
@import _reset

body
	background-color: #dedede

header
	width: 100%
	min-height: 200px
	background-color: #181d25
	.container
		width: 100%
		max-width: 1200px
		margin: 0 auto
		color: white
		padding-top: 30px
		padding-bottom: 40px
		box-sizing: border-box
		text-align: center
		h1
			font-size: 60px
			text-align: center
			text-transform: uppercase
			font-family: 'Roboto', sans-serif
			margin-bottom: 30px
		input
			border-radius: 20px
			padding: 10px 20px
			border: 0
			outline: 0
			color: gray
			font-family: 'Roboto', sans-serif
			text-align: center

main
	.container
		width: 1200px
		max-width: 100%
		box-shadow: 0 0 10px rgba(0,0,0,0.15)
		min-height: 100px
		margin: 0 auto
		border-radius: 2px
		margin-top: 20px
		margin-bottom: 20px
		background-color: white
		box-sizing: border-box
		padding-top: 30px
	[class^="pure-u"]
		padding: 30px 30px
		padding-top: 0
		box-sizing: border-box
	.sticker
		text-align: center
		border-radius: 5px
		height: 280px
		overflow: hidden
		position: relative
		.image-wrap
			height: 220px
			display: flex
			align-items: center
			justify-content: center
			background-color: #36393E
		img
			margin-bottom: -3px
			max-width: 90%
			max-height: 220px
		h3
			padding-top: 20px
			padding-bottom: 20px
			text-transform: lowercase
			font-family: 'Roboto', sans-serif
			font-size: 20px
			background-color: #d2d2d2
			position: absolute
			bottom: 0
			width: 100%

#open-sticker-dialog-btn
	background-color: #51a951
	color: white
	font-family: 'Roboto', sans-serif
	border: 0
	border-radius: 30px
	padding: 12px 20px
	margin-left: 10px
	outline: 0
	transition: .2s
	&:hover
		background-color: #409e40
	&:active
		background-color: green

#add-sticker-dialog	
	width: 80vw
	max-width: 640px
	background-color: #51a951
	border-radius: 10px
	text-align: center
	box-sizing: border-box
	padding: 50px
	h2
		font-family: 'Roboto', sans-serif
		font-size: 40px
		color: white
	input
		display: block
		width: 60%
		font-family: 'Roboto', sans-serif
		border-radius: 30px
		padding: 10px 20px
		text-aligN: center
		margin: 20px auto
		border: none
		outline: 0
	input[type="submit"]
		width: 150px
		background-color: #181d25
		color: white
		transition: .3s

.name-taken-warning
	color: white
	font-family: 'Roboto'

.hidden
	display: none

.unclickable
	pointer-events: none
	opacity: 0.3

@media only screen and (max-width: 420px)

	header .container h1
		font-size: 47px

	#sticker-search	
		display: block
		margin: 0 auto

	#open-sticker-dialog-btn
		margin-left: 0
		margin-top: 20px